# Exploring a database

Let's practice on Pandas. Download the dataset `chipotle.csv` from JULIE and upload it to your workspace.

1. Import a library that allows to read data from a csv file

In [68]:
import pandas as pd

2. Import the dataset

In [69]:
df = pd.read_csv("src/chipotle.csv", index_col=0)

3. Look at the 10 first rows in the dataset

In [70]:
df.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

4. What is the shape of the dataset ?

In [71]:
df.shape

(4622, 5)

5. Display all the columns of our dataset

In [72]:
df.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

6. What is the most ordered item?

     *Indication: we will use GROUP BY & Sort_values()*

In [73]:
most_ordered_item = df.groupby("item_name")["quantity"].sum().sort_values(ascending=False)
most_ordered_item.head(1)

item_name
Chicken Bowl    761
Name: quantity, dtype: int64

7. How many items were ordered from Chipotle in total?

In [74]:
total_orders = df["item_name"].count()
total_orders

4622

8. How much revenue has Chipotle made?
      
      A. Convert item_price to a decimal number.
        1. Look at dataset [ item_price ], what do you see?
        2. Let's find a way to get that $ out of our way. We can do that by using [str](https://bit.ly/2ClcdtN)
        3. Let's now convert the series to float instead of string
        
    B. Multiply the quantity sold by the price of the item.
    
    C. Add it all up, how much do you find?
    
    D. Round to two decimal places.
    
    We can use the [Series.round()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.round.html#pandas.Series.round) function.

In [75]:
df.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [76]:
# df["item_price"] = df["item_price"].apply(lambda x: x.replace("$", "")).astype("float")
df["item_price"] = df["item_price"].str.replace("$", "")
df["item_price"] = df["item_price"].astype("float")
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 216.7+ KB

In [77]:
df["basket"] = df["quantity"] * df["item_price"]
df

,order_id,quantity,item_name,choice_description,item_price,basket
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75,8.75

In [78]:
total_revenue = df["basket"].sum()
total_revenue

39237.02

9. What is the average revenue per order?

In [79]:
avg_revenue = df.groupby("order_id")["basket"].sum()
avg_revenue

order_id
1       11.56
2       33.96
3       12.67
4       21.00
5       13.70
        ...
1830    23.00
1831    12.90
1832    13.20
1833    23.50
1834    28.75
Name: basket, Length: 1834, dtype: float64